
*.svn/
*cocos2d/
*proj.win32/
bin/Test.exe
bin/libcocos2d.dll
bin/glew32.dll
bin/iconv.dll
bin/libcrypto-1_1.dll
bin/libcurl.dll
bin/libmpg123.dll
bin/libogg.dll
bin/libssl-1_1.dll
bin/libtiff.dll
bin/libvorbis.dll
bin/libvorbisfile.dll
bin/lua51.dll
bin/OpenAL32.dll
bin/pthreadVCE2.dll
bin/sqlite3.dll
bin/TestClientOut.log
bin/websockets.dll
bin/zlib1.dll
